.header_control{
    padding: 1% 5%;
}
nav{
   
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem ;
}

 .links_header{
    display: flex;
    gap: 1.5rem; 
   
 }

 i{
    color: $cor-amarelo;
    font-size: 3rem;
    transition: 0.5seg;
}

i:hover{
color: $cor-vermelho;
animation:translateY 0.8s infinite alternate

}
a{
    color: $cor-amarelo;
    text-decoration: none;
}

header h1{
    color: $cor-branca;
}

.btn_header{
    background-color: transparent;
   
    border: 0.20rem solid $cor-amarelo;
    padding: 0.5rem;
    transition: 0.8s;
    cursor: pointer;
    font-family: vintage;
    font-size: 2.1rem;
}

button:hover{
    background-color: $cor-vermelho;
    border: 0.20rem solid $cor-vermelho ;
    
}


 @keyframes translateY {
 
    from{
        transform: translateY(0) scale(1);
    }

    to{
        transform: translateY(-8px) scale(1.1);
    }
}

.header_principal{
    height: 896px;
}

    
