.titulo_telaquatro{
   
    padding-bottom: 5%;
}


.titulo_telaquatro .titulo{
    font-family: bomb ;
    color: $cor-vermelho;
    text-align: center;
    margin: 2rem 0 0 0;
    font-weight: 400;
    font-size: 130px;
}

iframe{
    width: 70%;
    
}
.mapa{

 text-align: center;
}